body {
  background-image: url('images/background.jpg'); 
  background-size: 100vw auto;
  font-family: Arial;
  margin: 0;
  padding: 0;
}

header {
  height: 1vh;
}
.menu {
  background-color: white;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
 list-style: none; 
}

a {
  color: teal;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-subtitle, 
.site-title {
  color: #0e0e0e;
  text-align: center;
}

.site-subtitle {
 font-style: italic;
}

main {
  height: 95vh;
}

footer {
  height: 1vh;
  text-align: center;
}

footer a {
  color: black;
  text-decoration: underline;
}